@use "../../styles/colors";
@use "../../styles/typography";

.button{
    &__container{
        margin: 2rem 0 4rem 0;
        background-color: colors.$preto;
        width: 300px;
        height: 64px;
        border: none;
        color: colors.$branco;
        font-weight: 600;
        font-size: 2.4rem;
        border-radius: 10px;
        font-family: typography.$montSerrantFont;
        letter-spacing: .2rem;
        cursor: pointer;
    }
}