// Fonts Config
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@600&display=swap");

$montSerrantFont: "Montserrat", sans-serif;
$poppinsFont: "Poppins", sans-serif;

html {
  font-size: 55%;
}

body {
  font-family: $montSerrantFont;
}

 