@use "../../styles/colors";
@use "../../styles/typography";

.section {
  // BackGround and title
  &__container {
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 5rem;

    @media (max-width: 1008px) {
      margin-top: 2rem;
    }

    @media (max-width: 730px) {
      margin-top: 5.5rem;
    }

    .line {
      background-color: colors.$verdeClaro;
      width: 297px;
      height: 4px;

      @media (max-width: 1008px) {
        width: 30%;
        height: 3px;
      }

      @media (max-width: 730px) {
        width: 34%;
        height: 2px;
      }
    }

    .graphismIMG {
      position: absolute;
      left: 0;
      top: 530px;
      z-index: -1;

      @media (max-width: 1008px) {
        width: 10%;
      }

      @media (max-width: 730px) {
        display: none;
      }
    }
  }

  &__bg {
    width: 100%;
    height: 480px;
    background-image: url("/img/Section-blackBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -2;

    @media (max-width: 1008px) {
      height: 340px;
    }

    @media (max-width: 730px) {
      height: 230px;
      z-index: 1;
    }
  }

  // Texts
  &__description {
    text-align: center;
    max-width: 600px;
    margin-top: 34px;
    color: colors.$branco;
    font-size: 2.5rem;

    @media (max-width: 1008px) {
      font-size: 2.5rem;
    }

    @media (max-width: 730px) {
      font-size: 1.8rem;
      margin-top: 20px;
    }
  }

  &__title {
    font-size: 6rem;
    color: colors.$branco;
    font-family: typography.$poppinsFont;
    line-height: 6rem;

    @media (max-width: 1008px) {
      font-size: 4.5rem;
    }

    @media (max-width: 730px) {
      font-size: 2.8rem;
      line-height: 3.5rem;
    }
  }

  // Todo Cards
  &__cards {
    width: 80%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;

    @media (max-width: 1008px) {
    }

    @media (max-width: 732px) {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }

  // Create Button
  &__createButton {
    font-size: 2.5rem;
    font-family: typography.$poppinsFont;
    padding: 0.8rem 4rem;
    border-radius: 10px;
    border: none;
    background-color: colors.$verdeClaro;
    color: colors.$branco;
    cursor: pointer;
    letter-spacing: 0.2rem;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.671);
  }
}
